In [1]:
print("Hello World")

Hello World

In [1]:
print("Good Morning, Welcome to Python Programming")

Good Morning, Welcome to Python Programming

In [2]:
# variable --> variable is a container which stores a value(temporary location)
a = 10

In [ ]:
# Naming Conventions for Variable
# 1. variable name should start with a letter or underscore(_)
# 2. variable name should not start with a number
# 3. variable name should not contain spaces
# 4. variable name should not contain special characters except underscore(_)
# 5. variable name should be case-sensitive
# 6. variable name should be descriptive

In [11]:
_var = 20
var1 = 30

In [ ]:
123var = 40

SyntaxError: invalid syntax (453629643.py, line 1)

In [5]:
var@123 = 50

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3642553524.py, line 1)

In [6]:
value1 add = 60

SyntaxError: invalid syntax (2306994869.py, line 1)

In [8]:
value1_Addition = 70

In [9]:
Var1 = 80

In [12]:
print(var1)
print(Var1)

30
80

In [13]:
"""False       await       else       import       pass  
None        break       except     in           raise 
True        class       finally    is           return
and         continue    for        lambda       try  
as          def         from       nonlocal     while
assert      del         global     not          with  
async       elif        if         or           yield"""

'False       await       else       import       pass  \nNone        break       except     in           raise \nTrue        class       finally    is           return\nand         continue    for        lambda       try  \nas          def         from       nonlocal     while\nassert      del         global     not          with  \nasync       elif        if         or           yield'

In [16]:
#data --> information or values
#information --> name, age, address, phone number, email id
#values --> 10, 20, 30, 40, 50

In [15]:
# Data Types in Python
#1.Primitives Data Types
# a. Numeric Data Types (int, float, complex)
# b. String Data Types
# c. Boolean Data Types

In [14]:
# int --> integer data type --> whole numbers --> 10, 20, 30, 40, 50
# float --> floating point data type --> decimal numbers or continuous values --> 10.5, 20.5, 30.5
# complex --> complex data type --> real and imaginary numbers --> 1+2j, 3+4j, 5+6j

In [17]:
int_value = 10
float_value = 10.5
complex_value = 1+2j
print(type(int_value))
print(type(float_value))
print(type(complex_value))

<class 'int'>
<class 'float'>
<class 'complex'>

In [18]:
# String Data Type --> sequence of characters --> "Hello", 'Python', """Programming"""
str1 = "Hello"
print(type(str1))
str2 = 'Python'
print(type(str2))

<class 'str'>
<class 'str'>

In [ ]:
# Boolean Data Type --> True or False --> 10>20 --> False, 10<20 --> True
bool1 = True
print(type(bool1))

In [22]:
#2.Non-Primitives Data Types
# a. Sequence Data Types (list, tuple, range)
# b. Mapping Data Types (dictionary)
# c. Set Data Types (set, frozenset)
# d. File Data Types (file, binary file)

In [19]:
# List Data Type --> ordered collection of items --> [10, 20, 30, 40, 50]
# collections of items or elements which are enclosed in square brackets([]) and separated by commas(,)
# List is mutable --> we can change the values of list
# List allows duplicate values
# List allows heterogeneous values --> we can store different data types in a list
# List allows indexing and slicing

In [20]:
#Sample List 
hetrogeneous_list = [10, 20.5, "Hello", True, 10, 20.5]
print(type(hetrogeneous_list))  
print(hetrogeneous_list)

<class 'list'>
[10, 20.5, 'Hello', True, 10, 20.5]

In [21]:
# indexing
hetrogeneous_list[2]

'Hello'

In [24]:
print(len(hetrogeneous_list))  # length of the list

6

In [23]:
fruit_list = ["Apple", "Banana", "Orange", "Grapes", "Mango"]
print(fruit_list)

['Apple', 'Banana', 'Orange', 'Grapes', 'Mango']

In [25]:
# List Operations
# to add an element into list --> append(), insert(), extend()
# append() --> to add an element at the end of the list
fruit_list.append("Pineapple")
print(fruit_list)
#insert() --> to add an element at a specific index
fruit_list.insert(2, "Watermelon")
print(fruit_list)

['Apple', 'Banana', 'Orange', 'Grapes', 'Mango', 'Pineapple']
['Apple', 'Banana', 'Watermelon', 'Orange', 'Grapes', 'Mango', 'Pineapple']

In [26]:
# extend() --> to add multiple elements at the end of the list
vegetable_list = ["Tomato", "Potato", "Onion"]
fruit_list.extend(vegetable_list)
print(fruit_list)

['Apple', 'Banana', 'Watermelon', 'Orange', 'Grapes', 'Mango', 'Pineapple', 'Tomato', 'Potato', 'Onion']

In [29]:
# count() --> to count the occurrences of an element in the list
print(fruit_list.count("Pineapple"))  # Output: 1

1

In [28]:
fruit_list.remove("Banana")

In [30]:
fruit_list

['Apple',
 'Watermelon',
 'Orange',
 'Grapes',
 'Mango',
 'Pineapple',
 'Tomato',
 'Potato',
 'Onion']

In [31]:
# pop() --> to remove an element at a specific index and return the removed element
popped_item =fruit_list.pop(3)
print(fruit_list)
print(popped_item)

['Apple', 'Watermelon', 'Orange', 'Mango', 'Pineapple', 'Tomato', 'Potato', 'Onion']
Grapes

In [32]:
popped_item =fruit_list.pop()
print(fruit_list)
print(popped_item)

['Apple', 'Watermelon', 'Orange', 'Mango', 'Pineapple', 'Tomato', 'Potato']
Onion

In [33]:
# copy() --> to create a copy of the list
new_fruit_list = fruit_list.copy()
print(new_fruit_list)

['Apple', 'Watermelon', 'Orange', 'Mango', 'Pineapple', 'Tomato', 'Potato']

In [34]:
fruit_list.sort()  # sort the list in ascending order
print(fruit_list)

['Apple', 'Mango', 'Orange', 'Pineapple', 'Potato', 'Tomato', 'Watermelon']

In [35]:
fruit_list.reverse()  # reverse the list

In [36]:
print(fruit_list)

['Watermelon', 'Tomato', 'Potato', 'Pineapple', 'Orange', 'Mango', 'Apple']

In [37]:
fruit_list.index("Mango")

5

In [38]:
fruit_list.clear()

In [39]:
print(fruit_list)

[]

In [40]:
# indexing and slicing in list
new_fruit_list

['Apple', 'Watermelon', 'Orange', 'Mango', 'Pineapple', 'Tomato', 'Potato']

In [41]:
#Slicing --> to extract a portion of the list and create a new list 
# [start:end:step]
print(new_fruit_list[1:4])  # Output: ['Watermelon', 'Orange', 'Mango']
print(new_fruit_list[2:])  # Output: ['Orange', 'Mango', 'Pineapple', 'Pineapple', 'Tomato', 'Potato']
print(new_fruit_list[:4])  # Output: ['Apple', 'Watermelon', 'Orange', 'Mango']
print(new_fruit_list[-3:])  # Output: ['Pineapple', 'Pineapple', 'Tomato']

['Watermelon', 'Orange', 'Mango']
['Orange', 'Mango', 'Pineapple', 'Tomato', 'Potato']
['Apple', 'Watermelon', 'Orange', 'Mango']
['Pineapple', 'Tomato', 'Potato']

In [1]:
a,b,c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [2]:
# Tuple Data Type --> ordered collection of items which are enclosed in parentheses(()) and separated by commas(,)
# Tuple is immutable --> we cannot change the values of tuple
# Tuple allows duplicate values
# Tuple allows heterogeneous values --> we can store different data types in a tuple
# Tuple allows indexing and slicing
# Tuple allows nested tuples

In [3]:
# sample tuple = (10, 20.5, "Hello", True, 10, 20.5)
sample_tuple = (10, 20.5, "Hello", True, 10, 20.5)
print(type(sample_tuple))
print(sample_tuple)

<class 'tuple'>
(10, 20.5, 'Hello', True, 10, 20.5)

In [ ]:
# tuple operations
# count() --> to count the occurrences of an element in the tuple
# index() --> to find the index of an element in the tuple
# min() --> to find the minimum value in the tuple
# max() --> to find the maximum value in the tuple
# len() --> to find the length of the tuple
# indexing and slicing in tuple
# tuple unpacking

In [4]:
car_names = ("BMW", "Audi", "Mercedes", "Toyota", "Honda")
print(car_names)
print(type(car_names))

('BMW', 'Audi', 'Mercedes', 'Toyota', 'Honda')
<class 'tuple'>

In [7]:
# indexing
print(car_names[2])  # Output: Mercedes
# count
print(car_names.count("Audi"))  # Output: 1
# index
print(car_names.index("Toyota"))  # Output: 3
# len
print(len(car_names))  # Output: 5
# Slicing
print(car_names[1:4])  # Output: ('Audi', 'Mercedes', 'Toyota')

Mercedes
1
3
5
('Audi', 'Mercedes', 'Toyota')

In [11]:
# Set Data Type --> unordered collection of unique items which are enclosed in curly braces({}) and separated by commas(,)
# Set is mutable --> we can change the values of set
# Set doesnt allows duplicate values
# Set allows heterogeneous values --> we can store different data types in a set

In [8]:
# {}
# sample set = {10, 20.5, "Hello", True, 10, 20.5}
sample_set = {10, 20.5, "Hello", True, 10, 20.5}
print(type(sample_set))
print(sample_set)

<class 'set'>
{True, 10, 20.5, 'Hello'}

In [10]:
# set methods and operations
# add() --> to add an element to the set
# remove() --> to remove an element from the set
# discard() --> to remove an element from the set if it exists
# clear() --> to remove all elements from the set
# pop() --> to remove an element from the set and return the removed element
# copy() --> to create a copy of the set
# len() --> to find the length of the set

In [9]:
bike_names = {"Yamaha", "Honda", "Suzuki", "KTM", "Bajaj"}
print(bike_names)
print(type(bike_names))

{'KTM', 'Yamaha', 'Bajaj', 'Honda', 'Suzuki'}
<class 'set'>

In [12]:
bike_names.add("Royal Enfield")
print(bike_names)

{'KTM', 'Yamaha', 'Bajaj', 'Honda', 'Royal Enfield', 'Suzuki'}

In [13]:
bike_names.remove("KTM")

In [14]:
print(bike_names)

{'Yamaha', 'Bajaj', 'Honda', 'Royal Enfield', 'Suzuki'}

In [15]:
bike_names.add("KTM")
print(bike_names)

{'KTM', 'Yamaha', 'Bajaj', 'Honda', 'Royal Enfield', 'Suzuki'}

In [16]:
bike_list = list(bike_names)

In [17]:
print(bike_list)
print(type(bike_list))

['KTM', 'Yamaha', 'Bajaj', 'Honda', 'Royal Enfield', 'Suzuki']
<class 'list'>

In [38]:
#item_popped = bike_names.pop()
print(item_popped)
new_bike_names = bike_names
print(new_bike_names)

Suzuki
set()

In [39]:
bike_names.update({'Suzuki', 'Ducati'})

In [40]:
bike_names.update({'Yamaha', 'Duke'})

In [41]:
print(bike_names)

{'Yamaha', 'Duke', 'Suzuki', 'Ducati'}

In [ ]:
# Set Operations
# union() --> to combine two sets and return a new set with unique elements from both sets
# intersection() --> to find the common elements between two sets and return a new set

In [42]:
set_1 = {10, 20, 30, 40, 50}
set_2 = {30, 40, 50, 60, 70}
print(set_1.union(set_2))  # Output: {10, 20, 30, 40, 50, 60, 70}
print(set_1.intersection(set_2))  # Output: {30, 40, 50}

{70, 40, 10, 50, 20, 60, 30}
{40, 50, 30}

In [43]:
print(set_1.difference(set_2))  # Output: {10, 20}
print(set_2.difference(set_1))  # Output: {60, 70}
print(set_1.symmetric_difference(set_2))  # Output: {10, 20, 60, 70}
print(set_2.symmetric_difference(set_1))  # Output: {10, 20, 60, 70}

{10, 20}
{60, 70}
{20, 70, 10, 60}
{20, 70, 10, 60}

In [ ]:
# Dictionary data types--> unordered collection of key-value pairs which are enclosed in curly braces({}) and separated by commas(,)
# Dictionary is mutable --> we can change the values of dictionary
# Dictionary allows duplicate keys --> we can have multiple keys with the same value
# Dictionary allows heterogeneous keys --> we can store different data types in a dictionary

In [44]:
# Sample Dictionary
sample_dict = {1: "Apple", 2: "Banana", 3: "Orange", 4: "Grapes", 5: "Mango"}
print(type(sample_dict))
print(sample_dict)

<class 'dict'>
{1: 'Apple', 2: 'Banana', 3: 'Orange', 4: 'Grapes', 5: 'Mango'}

In [45]:
print(sample_dict[3])

Orange

In [46]:
sample_dict[6] = "Guva"
print(sample_dict)

{1: 'Apple', 2: 'Banana', 3: 'Orange', 4: 'Grapes', 5: 'Mango', 6: 'Guva'}

In [47]:
sample_dict[1] = "Jackfruit"
print(sample_dict)

{1: 'Jackfruit', 2: 'Banana', 3: 'Orange', 4: 'Grapes', 5: 'Mango', 6: 'Guva'}

In [48]:
sample_dict.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [49]:
sample_dict.values()

dict_values(['Jackfruit', 'Banana', 'Orange', 'Grapes', 'Mango', 'Guva'])

In [50]:
sample_dict.items()

dict_items([(1, 'Jackfruit'), (2, 'Banana'), (3, 'Orange'), (4, 'Grapes'), (5, 'Mango'), (6, 'Guva')])

In [51]:
dict_veggies = {"Tomato": 10, "Potato": 20, "Onion": 30, "Carrot": 40, "Cabbage": 50}
print(dict_veggies)
print(type(dict_veggies))
print(dict_veggies.keys())
print(dict_veggies.values())
print(dict_veggies.items())

{'Tomato': 10, 'Potato': 20, 'Onion': 30, 'Carrot': 40, 'Cabbage': 50}
<class 'dict'>
dict_keys(['Tomato', 'Potato', 'Onion', 'Carrot', 'Cabbage'])
dict_values([10, 20, 30, 40, 50])
dict_items([('Tomato', 10), ('Potato', 20), ('Onion', 30), ('Carrot', 40), ('Cabbage', 50)])

In [52]:
dict_veggies.update({"Tomato": 35})
print(dict_veggies)

{'Tomato': 35, 'Potato': 20, 'Onion': 30, 'Carrot': 40, 'Cabbage': 50}

In [53]:
dict_veggies.pop("Tomato")

35

In [54]:
print(dict_veggies)

{'Potato': 20, 'Onion': 30, 'Carrot': 40, 'Cabbage': 50}

In [55]:
dict_veggies.popitem()
print(dict_veggies)

{'Potato': 20, 'Onion': 30, 'Carrot': 40}

In [56]:
dict_veggies.setdefault("Tomato", 100)

100

In [57]:
print(dict_veggies)

{'Potato': 20, 'Onion': 30, 'Carrot': 40, 'Tomato': 100}

In [ ]:
# String data type --> sequence of characters --> "Hello", 'Python', """Programming"""
# String is immutable --> we can't change the value of string
# String allows indexing and slicing

In [58]:
str_sample = "Python Programming"
print(type(str_sample))
print(str_sample)
print(str_sample[0])
print(str_sample[1])

<class 'str'>
Python Programming
P
y

In [59]:
str_sample.count('r')

2

In [60]:
print(len(str_sample))

18

In [61]:
str_sample.find('r')

8

In [62]:
str_sample.replace('r', 'R')

'Python PRogRamming'

In [63]:
str_sample.upper()

'PYTHON PROGRAMMING'

In [65]:
str_sample.lower()

'python programming'

In [66]:
str_sample.capitalize()

'Python programming'

In [67]:
str_sample.title()

'Python Programming'

In [ ]:
# String Formating
# %s --> string
# %d --> integer
# %f --> float
# %o --> octal
# %x --> hexadecimal
# %c --> character
# %b --> binary
# %e --> exponential

In [68]:
name = "Vino"
age = 20
print("My name is %s and my age is %d" % (name, age))

My name is Vino and my age is 20

In [69]:
print(f'My name is {name} and my age is {age}')

My name is Vino and my age is 20

In [ ]:
# Shallow copy and deep copy
# Shallow copy --> create a new object and copy the reference of the original object
# Deep copy --> create a new object and copy the value of the original object

In [70]:
simple_list = [10, 20, 30, 40, 50]
print(simple_list)
new_list = simple_list.copy()  # Shallow copy
new_list_1 = simple_list  # Deep copy
print(new_list)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [71]:
new_list.append(60)
print("After Adding element into new_list",new_list)
print("Simple List Elements",simple_list)
print("New List 1 Elements",new_list_1)

After Adding element into new_list [10, 20, 30, 40, 50, 60]
Simple List Elements [10, 20, 30, 40, 50]
New List 1 Elements [10, 20, 30, 40, 50]

In [72]:
new_list_1.append(70)
print("After Adding element into new_list_1",new_list_1)
print("Simple List Elements",simple_list)

After Adding element into new_list_1 [10, 20, 30, 40, 50, 70]
Simple List Elements [10, 20, 30, 40, 50, 70]

In [73]:
# Nested List
nested_list = [[10, 20], [30, 40], [50, 60]]
print(nested_list)
print(type(nested_list))
print(nested_list[0])
print(nested_list[1])
print(nested_list[2])
print(nested_list[0][0])
print(nested_list[0][1])
print(nested_list[1][0])
print(nested_list[1][1])
print(nested_list[2][0])
print(nested_list[2][1])

[[10, 20], [30, 40], [50, 60]]
<class 'list'>
[10, 20]
[30, 40]
[50, 60]
10
20
30
40
50
60

In [74]:
# Nested Tuple
nested_tuple = ((10, 20), (30, 40), (50, 60))
nested_tuple[1][0]

30

In [75]:
# Nested Dictionary

nested_dict = {
    "names": {
        "first": "John",
        "last": "Doe"
    },
    "age": 30,
    "city": "New York"
}

In [76]:
nested_dict['names']['first']

'John'

In [77]:
# nested dictionary
nested_dict1 = {
    "names":{
        "stud1":{
            "first": "John",
            "last": "Doe"
        },
        "stud2":{
            "first": "Jane",
            "last": "Doe"
        }
    },
    
}

In [78]:
nested_dict1['names']['stud2']['first']

'Jane'

In [79]:
# nested dictionary
nested_dict1 = {
    "names":{
        "stud1":{
            "first": "John",
            "last": "Doe"
        },
        "stud2":{
            "first": "Jane",
            "last": "Doe"
        }
    },
    "Grade":{
        "stud1": "A",
        "stud2": "B"
    }
    
}

In [80]:
print("Name of the Student",nested_dict1['names']['stud1']['first'])
print("Grade of the Student", nested_dict1['Grade']['stud1'])

Name of the Student John
Grade of the Student A

In [81]:
# List of Dictionaries
list_of_dict = [
    {
        "name": "John",
        "age": 30,
        "city": "New York"
    },
    {
        "name": "Jane",
        "age": 25,
        "city": "Los Angeles"
    }
]

In [82]:
list_of_dict[1]['city']

'Los Angeles'

In [83]:
# Dictionary of Lists
dict_of_lists = {
    "Students":['Abi','Ajith','Tanu'],
    "Grades":['A','B','C']
}

In [84]:
print("Name of the Student:",dict_of_lists['Students'][2])
print("Grade of the Student:",dict_of_lists['Grades'][2])

Name of the Student: Tanu
Grade of the Student: C

In [ ]:
# Type Casting
# '40' --> int --> we can convert string to int
# 'hi' --> str  --> we cannot convert string to int

In [85]:
int_val = 158
print("Float value:", float(int_val))
float_val = 10.5
print("Integer value:", int(float_val))
complex_val = 1+2j
print("String value:", str(complex_val))

str_val = "10"
print("Integer value:", int(str_val))

Float value: 158.0
Integer value: 10
String value: (1+2j)
Integer value: 10

In [86]:
str_val = "Hello"
print("Complex value:", complex(str_val))

ValueError: complex() arg is a malformed string

In [87]:
str_val = "Hello"
print("Integer value:", int(str_val))

ValueError: invalid literal for int() with base 10: 'Hello'

In [88]:
type_casting_list = [10, 20, 30, 40, 50]
casted_into_tuple = tuple(type_casting_list)
print(type(casted_into_tuple))

<class 'tuple'>

In [89]:
casted_into_set = set(type_casting_list)
print(type(casted_into_set))

<class 'set'>

In [ ]:
# Operators in Python
# Arithmetic Operators --> +, -, *, /, //, %, **
# Assignment Operators --> =, +=, -=, *=, /=, //=, %=
# Comparison Operators --> ==, !=, >, <, >=, <=
# Logical Operators --> and, or, not
# Identity Operators --> is, is not
# Membership Operators --> in, not in
# Bitwise Operators --> &, |, ^, ~, <<, >>

In [90]:
# Arithmetic Operators
a = 10
b = 20
c = a + b
print(c)
c = a - b
print(c)
c = a * b
print(c)
c = a / b
print(c)
c = a // b
print(c)
c = a % b
print(c)
c = a ** b
print(c)

30
-10
200
0.5
0
10
100000000000000000000

In [91]:
# Assignment Operators
a = 10
a += 5
print(a)
a -= 5
print(a)
a *= 5
print(a)
a /= 5
print(a)
a //= 5
print(a)
a %= 5
print(a)
a **= 5
print(a)

15
10
50
10.0
2.0
2.0
32.0

In [92]:

var =-5 
var += 10
print(var)

5

In [93]:
# Comparison Operators
a = 10
b = 20
c = a == b
print(c)
c = a != b
print(c)
c = a > b
print(c)
c = a < b
print(c)
c = a >= b
print(c)
c = a <= b
print(c)

False
True
False
True
False
True

In [94]:
#  Logical Operators (and, or,not)
a = True
b = False
c = a and b
print(c)
c = a or b
print(c)
c = not a
print(c)
c = not b
print(c)

False
True
False
True

In [95]:
# Identity Operator (is, not is)
a = 10
b = 10
c = a is b
print(c)
c = a is not b
print(c)

True
False

In [96]:
# Membership Operators(in, not in)
list_sample = ['vivo', 'oppo', 'apple', 'samsung']
a = 'vivo'
c = a in list_sample
print(c)
c = a not in list_sample
print(c)
b = 'nokia'
c = b in list_sample
print(c)
c = b not in list_sample
print(c)

True
False
False
True

In [97]:
# Bitwise Operators (&, |, ^, ~, <<, >>)
a = 10
b = 20
c = a & b
print(c)
c = a | b
print(c)
c = a ^ b
print(c)
c = ~a
print(c)
c = a << 2
print(c)
c = a >> 2
print(c)

0
30
30
-11
40
2