In [1]:
# Functions --> Function is block of code which can be used to perform a particular task
# Function is used to reuse the code
# Function is used to reduce the code complexity
# Function is used to increase the code readability
# Syntax --> def function_name():
#             statements

# --> Function definition, Function calling
# Function Definition --> write the code to perform a particular task
# Function Calling --> call the function to perform a particular task

In [2]:
# Example of function
def add():
    a = 10
    b = 20
    c = a + b
    print(c)

In [3]:
add()

30

In [4]:
# Example of function
def addd():
    a = int(input("Enter the first number: "))
    b = int(input("Enter the second number: "))
    c = a + b
    print(c)
addd()

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Parameters --> Parameters are used to pass the values to the function
# Arguments --> Arguments are used to pass the values to the function

In [ ]:
(a,b) = (10,20)

In [ ]:
print(a)
print(b)
print(a,b)

10
20
10 20

In [ ]:
def add(a, b): # Parameters
    c = a + b
    print(c)

add(10, 20) # Arguments
add(100, 200)
add(1000, 2000)

30
300
3000

In [ ]:
# return statement --> return statement is used to return the value from the function
def add_mul(a, b): # Parameters
    c = a + b
    d = a * b
    return c, d

result = add_mul(10, 20) # Arguments

In [ ]:
print(result)

(30, 200)

In [ ]:
# variable length arguments
def add(*args): # Parameters
    c = 0
    for i in args:
        c = c + i
    print(c)

add(10, 20) # Arguments
add(10, 20, 30) # Arguments
add(10, 20, 30, 40) # Arguments

30
60
100

In [ ]:
# variable length arguments
def add(*args): # Parameters
    c = 0
    for i in args:
        c = c + i
    return c

result =add(10, 20) # Arguments
print(result)   
result = add(10, 20, 30) # Arguments
print(result)
result = add(10, 20, 30, 40) # Arguments
print(result)

30
60
100

In [ ]:
# Keyword arguments
def add(a, b): # Parameters
    c = a + b
    print(c)

add(a = 10, b = 20) # Arguments

30

In [ ]:
def info(name, age): # Parameters
    print("My name is", name)
    print("My age is", age)

info("Vino", 20) # Arguments

My name is Vino
My age is 20

In [ ]:
def info(**kwargs): # Parameters
    print(kwargs)

info(name = "Vino", age = 20) # Arguments

{'name': 'Vino', 'age': 20}

In [ ]:
# Default arguments
def info(name, age = 20): # Parameters
    print("My name is", name)
    print("My age is", age)

info("Vino")

My name is Vino
My age is 20

In [ ]:
def info(name, age = 20): # Parameters
    print("My name is", name)
    print("My age is", age)

info("Vino")
info("Vino", 30)

My name is Vino
My age is 20
My name is Vino
My age is 30

In [ ]:
# Lambda Function --> It an anonymoua function
# Lambda Function are used to create function in a single line
# it have more than one parameters but it have only one expression

In [ ]:
def square(x):
    return x * x

In [ ]:
square(10)

100

In [ ]:
square_lambda = lambda x: x * x
square_lambda(10)

100

In [ ]:
add_val = lambda x, y, z: x + y + z
add_val(10, 20, 30)

60

In [ ]:
# lambda with conditional statements
add_val = lambda x, y: x if x > y else y
add_val(40, 20)

40

In [ ]:
odd_even = lambda x:"odd" if x % 2 == 1 else "even"
print(odd_even(10))
print(odd_even(11))

even
odd

In [ ]:
odd_even = lambda x:"even" if x % 2 == 0 else "odd"
print(odd_even(13))
print(odd_even(11))
print(odd_even(20))

odd
odd
even

In [ ]:
# List Comprehension

list_comprehension = [i for i in range(1,11)]
print(list_comprehension)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list_comprehension = [i for i in range(1,11) if i % 2 == 0]
print(list_comprehension)

[2, 4, 6, 8, 10]

In [ ]:
list_comprehension = [i for i in range(1,11) if i % 2 != 0]
print(list_comprehension)

[1, 3, 5, 7, 9]

In [ ]:
list_comprehension = [x * x for x in range(1,11)]
print(list_comprehension)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list_comprehension = [x ** 3 for x in range(1,11)]
print(list_comprehension)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# Map function -->  Iterative object and function
# Map function is used to apply a function to each element of an iterable object
# Map function returns a map object

In [ ]:
def square(x):
    return x * x
list1 = [1, 2, 3, 4, 5]
list2 = map(square, list1)
print(list2)
print(list(list2))

<map object at 0x0000025FDEEE13F0>
[1, 4, 9, 16, 25]

In [ ]:
def square(x):
    return x * x
list1 = [1, 2, 3, 4, 5]
list2 = list(map(square, list1))
print(list2)

[1, 4, 9, 16, 25]

In [ ]:
list_2 = list(map(lambda x: x * x, list1))
print(list_2)

[1, 4, 9, 16, 25]

In [ ]:
def is_even(x):
    if x % 2 == 0:
        return x

In [1]:
#list_numbers = [i for i in range(1,21)]
list_nos = [1,2,3,4,5,6,7,8,9,10]
list_even = list(map(is_even,list_nos))
print(list_even)

NameError: name 'is_even' is not defined

In [9]:
list_even = list(filter(is_even,list_nos))
print(list_even)

NameError: name 'is_even' is not defined

In [8]:
list_odd = list(filter(lambda x: x % 2 != 0, list_nos))
print(list_odd)

NameError: name 'list_nos' is not defined

In [ ]:
number_of_items = int(input("Enter the number of items: "))
list_items = []
for i in range(number_of_items):
    item = input("Enter the item: ")
    list_items.append(item)
print(list_items)

In [4]:
sample = input("Enter the sample: ").split()
print(sample)

[]

In [5]:
list_veggies = list(map(str,input("Enter the veggies: ").split()))
print(list_veggies)

[]

In [ ]:
list_veggies = list(map(int,input("Enter the numbers: ").split()))
print(list_veggies)